Repository UBC-Thunderbots/Software, pull requests merged in 2024-02, with the labels that each got.

#2933 Robot Auto Test
  docs/useful-robot-commands.md
  src/software/jetson_nano/ansible/BUILD
  src/software/jetson_nano/ansible/playbooks/robot_auto_test_playbook.yml
  src/software/jetson_nano/services/BUILD
  src/software/jetson_nano/services/motor.cpp
  src/software/jetson_nano/services/motor.h
  src/software/jetson_nano/services/power.cpp
  src/software/jetson_nano/services/power.h
  src/software/jetson_nano/services/robot_auto_test.cpp
Labels: Robot Software

#3133 Tscope errors
  src/software/thunderscope/robot_communication.py
  src/software/thunderscope/robot_diagnostics/robot_view.py
Labels: (ﾉಥ益ಥ）ﾉ﻿ ┻━┻

#3134 Small Thunderscope Improvements
  src/software/thunderscope/common/proto_plotter.py
  src/software/thunderscope/constants.py
  src/software/thunderscope/gl/gl_widget.py
Labels: Thunderscope

#3139 Visualize Robot Position History
  src/software/thunderscope/BUILD
  src/software/thunderscope/constants.py
  src/software/thunderscope/gl/layers/BUILD
  src/software/thunderscope/gl/layers/gl_trail_layer.py
  src/software/thunderscope/widget_setup_functions.py
Labels: Thunderscope
