Repository UBC-Thunderbots/Software, pull requests merged in 2024-03, with the labels that each got.

#3118 SPI updates from robocup
  src/shared/constants.h
  src/software/jetson_nano/services/motor.cpp
  src/software/jetson_nano/services/motor.h
  src/software/jetson_nano/services/network/network.cpp
  src/software/jetson_nano/services/network/network.h
  src/software/jetson_nano/services/robot_auto_test.cpp
  src/software/jetson_nano/thunderloop.h
  src/software/jetson_nano/thunderloop_main.cpp
Labels: Robot Software

#3136 FPS Widget
  src/software/thunderscope/BUILD
  src/software/thunderscope/common/BUILD
  src/software/thunderscope/common/fps_widget.py
  src/software/thunderscope/common/frametime_counter.py
  src/software/thunderscope/gl/gl_widget.py
  src/software/thunderscope/gl/helpers/extended_gl_view_widget.py
  src/software/thunderscope/thunderscope_config.py
  src/software/thunderscope/thunderscope_types.py
  src/software/thunderscope/widget_setup_functions.py
Labels: Thunderscope

#3127 Signed Distance Function for Geometry Obstacle
  src/software/ai/navigator/obstacle/obstacle.hpp
  src/software/geom/algorithms/BUILD
  src/software/geom/algorithms/signed_distance.cpp
  src/software/geom/algorithms/signed_distance.h
  src/software/geom/algorithms/signed_distance_test.cpp
Labels: Motion Planning

#3151 Support switching between Radio/UDP for robot communication
  src/software/BUILD
  src/software/backend/BUILD
  src/software/backend/unix_simulator_backend.h
  src/software/er_force_simulator_main.cpp
  src/software/field_tests/BUILD
  src/software/field_tests/field_test_fixture.py
  src/software/jetson_nano/services/network/BUILD
  src/software/jetson_nano/services/network/network.cpp
  src/software/jetson_nano/services/network/network.h
  src/software/logger/BUILD
  src/software/logger/network_sink.h
  src/software/logger/plotjuggler_sink.h
  src/software/logger/protobuf_sink.h
  src/software/network_log_listener_main.cpp
  src/software/networking/BUILD
  src/software/networking/proto_udp_client.hpp
  src/software/networking/radio/BUILD
  src/software/networking/radio/proto_radio_listener.hpp
  src/software/networking/radio/radio_sender.cpp
  src/software/networking/radio/radio_sender.h
  src/software/networking/radio/threaded_proto_radio_listener.hpp
  src/software/networking/radio/threaded_proto_radio_sender.hpp
  src/software/networking/radio/threaded_radio_sender.cpp
  src/software/networking/radio/threaded_radio_sender.h
  src/software/networking/threaded_proto_udp_sender.hpp
  src/software/networking/threaded_proto_unix_sender.hpp
  src/software/networking/udp/BUILD
  src/software/networking/udp/proto_udp_listener.hpp
  src/software/networking/udp/threaded_proto_udp_listener.hpp
  src/software/networking/udp/threaded_proto_udp_sender.hpp
  src/software/networking/udp/threaded_udp_sender.cpp
  src/software/networking/udp/threaded_udp_sender.h
  src/software/networking/udp/udp_sender.cpp
  src/software/networking/udp/udp_sender.h
  src/software/networking/unix/BUILD
  src/software/networking/unix/proto_unix_listener.hpp
  src/software/networking/unix/threaded_proto_unix_listener.hpp
  src/software/networking/unix/threaded_proto_unix_sender.hpp
  src/software/networking/unix/threaded_unix_listener.py
  src/software/networking/unix/threaded_unix_sender.cpp
  src/software/networking/unix/threaded_unix_sender.h
  src/software/networking/unix/threaded_unix_sender.py
  src/software/networking/unix/unix_sender.cpp
  src/software/networking/unix/unix_sender.h
  src/software/python_bindings.cpp
  src/software/simulated_tests/BUILD
  src/software/simulated_tests/simulated_test_fixture.py
  src/software/thunderscope/BUILD
  src/software/thunderscope/common/proto_plotter.py
  src/software/thunderscope/gl/layers/gl_world_layer.py
  src/software/thunderscope/play/playinfo_widget.py
  src/software/thunderscope/proto_unix_io.py
  src/software/thunderscope/robot_communication.py
  src/software/thunderscope/thunderscope_main.py
  src/software/unix_full_system_main.cpp
Labels: Robot Software

#3132 Adding GameController controls in Thunderscope
  environment_setup/ubuntu20_requirements.txt
  environment_setup/ubuntu22_requirements.txt
  src/proto/BUILD
  src/proto/manual_gc_command.proto
  src/software/field_tests/field_test_fixture.py
  src/software/simulated_tests/simulated_test_fixture.py
  src/software/thunderscope/BUILD
  src/software/thunderscope/binary_context_managers/game_controller.py
  src/software/thunderscope/constants.py
  src/software/thunderscope/gl/BUILD
  src/software/thunderscope/gl/gl_widget.py
  src/software/thunderscope/gl/widgets/BUILD
  src/software/thunderscope/gl/widgets/gl_field_toolbar.py
  src/software/thunderscope/gl/widgets/gl_gamecontroller_toolbar.py
  src/software/thunderscope/gl/widgets/gl_toolbar.py
  src/software/thunderscope/gl/widgets/icon_loader.py
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/BUILD
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/blue.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/force_start.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/halt.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/icon_loader.py
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/normal_start.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/open_window.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/stop.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/gamecontroller/yellow.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/BUILD
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/help.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/icon_loader.py
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/measure.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/pause.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/play.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/redo.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/reset.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/undo.svg
  src/software/thunderscope/gl/widgets/toolbar_icons/sandbox_mode/view.svg
  src/software/thunderscope/thunderscope_config.py
  src/software/thunderscope/thunderscope_main.py
  src/software/thunderscope/thunderscope_types.py
  src/software/thunderscope/widget_setup_functions.py
Labels: Thunderscope
